<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Core Css -->
    <link rel="stylesheet" href="../css/theme.css" />
    <title>Hệ thống quản lý bể bơi - Kho</title>
</head>

<body class="bg-surface">
    <main>
        <div id="main-wrapper" class="flex p-5 xl:pr-0">
            <!-- Side Bar -->
            <%- include("./partials-receipt/aside_bar") %>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const logoutBtn = document.getElementById('logoutBtn');
                    if (logoutBtn) {
                        logoutBtn.addEventListener('click', function (event) {
                            event.preventDefault();
                            Swal.fire({
                                title: 'Bạn có chắc chắn muốn đăng xuất?',
                                text: "Bạn sẽ bị đăng xuất khỏi hệ thống!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'YES',
                                confirmButtonColor: 'LightSeaGreen',
                                cancelButtonColor: 'Crimson',
                                cancelButtonText: 'NO',
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    document.getElementById('logoutForm').submit();
                                } else {
                                    console.log('User canceled logout');
                                }
                            });
                        });
                    }
                });
            </script>
            <!-- End side Bar -->
            <div class="w-full page-wrapper xl:px-6 px-0">
                <!-- Main Content -->
                <main class="h-full max-w-full">
                    <div class="container full-container p-0 flex flex-col gap-6">
                        <!--  Header Start -->
                        <%- include("./partials-receipt/header") %>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const logoutBtn = document.getElementById('logoutNavBtn');
                                if (logoutBtn) {
                                    logoutBtn.addEventListener('click', function (event) {
                                        event.preventDefault();
                                        Swal.fire({
                                            title: 'Bạn có chắc chắn muốn đăng xuất?',
                                            text: "Bạn sẽ bị đăng xuất khỏi hệ thống!",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonText: 'YES',
                                            confirmButtonColor: 'LightSeaGreen',
                                            cancelButtonColor: 'Crimson',
                                            cancelButtonText: 'NO',
                                            reverseButtons: true
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                document.getElementById('logoutForm').submit();
                                            } else {
                                                console.log('User canceled logout');
                                            }
                                        });
                                    });
                                }
                            });
                        </script>
                        <!--  Header End -->

                        <!-- Bảng Kho -->
                        <div class="col-span-2">
                            <div class="card h-full">
                                <div class="card-body">
                                    <h4 class="text-gray-500 text-lg font-semibold mb-5">Danh sách kho hàng</h4>
                                    <div class="relative overflow-x-auto">
                                        <!-- table -->
                                        <table class="text-left w-full whitespace-nowrap text-sm text-gray-500">
                                            <thead>
                                                <tr class="text-sm">
                                                    <th scope="col" class="p-4 font-semibold">Thông tin</th>
                                                    <th scope="col" class="p-4 font-semibold">Số Lượng</th>
                                                    <th scope="col" class="p-4 font-semibold">Giá tiền</th>
                                                    <th scope="col" class="p-4 font-semibold">Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (let i = 0; i < dataWareHouse.idKho.length; i++) { %>
                                                <tr>
                                                    <td class="p-4 text-sm">
                                                        <div class="flex gap-6 items-center">
                                                            <div class="h-12 w-12 inline-block">
                                                                <img src="../images/products.png" 
                                                                    alt="" class="rounded-full w-100">
                                                            </div>
                                                            <div class="flex flex-col gap-1 text-gray-500">
                                                                <h3 class="font-bold">
                                                                    <%= dataWareHouse.TenSP[i] %></h3>
                                                                <span class="font-normal">Mã kho:
                                                                    <%= dataWareHouse.idKho[i] %></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="p-4">
                                                        <h3 class="font-medium"><%= dataWareHouse.SoLuong[i] %></h3>
                                                    </td>
                                                    <td class="p-4">
                                                        <h3 class="font-medium text-teal-500">
                                                            <%= (dataWareHouse.GiaTien[i]).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></h3>
                                                    </td>
                                                    <td class="p-4">
                                                        <span
                                                            class="inline-flex items-center py-2 px-4 rounded-3xl font-semibold
                                                            <%= dataWareHouse.TrangThai[i] === 1 ? 'bg-teal-400 text-teal-500' : 'bg-red-400 text-red-500' %>">
                                                            <%= dataWareHouse.TrangThai[i] === 1 ? 'Đang Mở' : 'Đang Đóng' %>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Bảng Kho-->

                        <!-- Footer -->
                        <%- include("./partials/footer") %>
                        <!-- End Footer -->
                    </div>
                </main>
                <!-- Main Content End -->
            </div>
            <!--end of project-->
    </main>

    <script src="../libs/jquery/dist/jquery.min.js"></script>
    <script src="../libs/simplebar/dist/simplebar.min.js"></script>
    <script src="../libs/iconify-icon/dist/iconify-icon.min.js"></script>
    <script src="../libs/@preline/dropdown/index.js"></script>
    <script src="../libs/@preline/overlay/index.js"></script>
    <script src="../js/sidebarmenu.js"></script>

    <script src="../libs/apexcharts/dist/apexcharts.min.js"></script>

</body>